############################
# OS X
############################
.DS_Store

############################
# Windows
############################
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

############################
# Project level
############################

node_modules/
public/
build/
dist/
.env
